figure {
    margin: 0;
}
.card-product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .name-product {
        margin-left: 10px;
        h2 {
            font-size: 18px;
        }
    }
   
}
.group-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    ng-select {
        margin-right: 15px;
    }
}
.list-product {
    .list {
        .card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (min-width: 768px) {

}